@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend-VariableFont_wght.ttf");
}

:root {
  --background: #fcf8ff;
  --headerbg: #fffeff;
  --third-section-bg: #62149b;
  --text: #4a5565;
  --textfont: Lexend, sans-serif;
  --logocolor: #6c63ff;
  --cardbg: #f7f5ff;
  --commentbg: #7c29b7;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: var(--textfont);
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: var(--textfont);
}

body {
  background-color: var(--background);
}

/* Header */

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--headerbg);
  box-shadow: 0px 0px 10px lightgrey;
}

#nav-logo {
  font-size: 34px;
  color: var(--logocolor);
}

#nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
}

.nav-li {
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  position: relative;
}

.nav-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text);
  transition: width 0.25s ease-in-out;
}

.nav-li:hover::after {
  width: 100%;
}

.nav-li.active {
  color: var(--logocolor);
}

.nav-li.active::after {
  width: 100%;
  background-color: var(--logocolor);
}

/* Prva Sekcija - Home */

#first-section {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#first-section-left {
  width: 50%;
}

#first-section-logo {
  width: 200px;
  margin-bottom: 20px;
}

#first-section-h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--logocolor);
}

#first-section-p {
  font-size: 20px;
  margin-bottom: 30px;
}

#first-section-img {
  width: 40%;
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgb(186, 186, 186);
}

#first-section-button {
  border: 2px solid var(--logocolor);
  background-color: var(--logocolor);
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--background);
}

#first-section-button:hover {
  background-color: var(--background);
  color: var(--logocolor);
}

#first-section-second-button {
  border: 2px solid var(--logocolor);
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--background);
  color: var(--logocolor);
}

#first-section-second-button:hover {
  background-color: var(--logocolor);
  color: var(--background);
}

/* druga sekcija */

#second-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--headerbg);
}

#second-section-h2 {
  text-align: center;
  font-size: 36px;
  color: var(--logocolor);
}

#second-section-p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

#second-section-cards {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.second-section-card {
  background-color: var(--cardbg);
  padding: 25px;
  float: left;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-section-card:hover {
  box-shadow: 0px 5px 5px lightgrey;
  transition: 0.2s ease-in-out;
  cursor: default;
}

.second-section-card span {
  font-size: 42px;
  color: var(--logocolor);
}

.second-section-card h3 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
}

.second-section-card p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

/* treca sekcija */

#third-section {
  padding: 100px;
  background-color: var(--third-section-bg);
}

#third-section-h2 {
  text-align: center;
  font-size: 36px;
  color: var(--background);
}

#third-section-p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  color: var(--background);
}

#third-section-comments {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.third-section-comment {
  background-color: var(--commentbg);
  padding: 30px;
  border-radius: 5%;
  width: 300px;
}

.third-section-comment .fa-star {
  color: gold;
  font-size: 20px;
}

.comment {
  font-weight: 300;
  color: var(--background);
  margin-top: 10px;
}

.comment-author {
  margin-top: 15px;
  font-weight: 500;
  color: var(--background);
  font-size: 18px;
}

/* footer */

footer {
  padding: 50px;
  background-color: var(--commentbg);
}

#footer-up {
  display: flex;
  justify-content: space-around;
}

.footer-h2 {
  color: var(--background);
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 400;
}

footer .fa-instagram,
footer .fa-linkedin,
footer .fa-twitter {
  color: var(--background);
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--third-section-bg);
  padding: 10px;
  border-radius: 100px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer ul li a {
  color: var(--background);
  font-weight: 300;
  cursor: pointer;
}

footer ul li a:hover {
  text-decoration: underline;
}

#footer-contact p {
  color: var(--background);
  margin-bottom: 10px;
  font-weight: 300;
}

.fa-at,
.fa-phone,
.fa-map-marker {
  margin-right: 10px;
  color: var(--background);
  font-size: 18px;
}

#footer-down {
  margin-top: 30px;
  font-weight: 300;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-top: 1px solid var(--third-section-bg);
  padding-top: 20px;
}

#footer-down p {
  text-align: center;
  color: var(--background);
  font-size: 14px;
}

#footer-policies {
  display: flex;
  gap: 20px;
}

#footer-policies a {
  color: var(--background);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

#footer-policies a:hover {
  text-decoration: underline;
}

/* O autoru */

#o-autoru-wrap {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#o-autoru {
  display: flex;
  justify-items: center;
  width: 75%;
  border-radius: 10px;
}

#o-autoru img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgrey;
}

#o-autoru div h1 {
  color: var(--logocolor);
}

#o-autoru div p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

#o-autoru-text {
  margin: 30px;
}

/* kontakt */

#contact-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

#contact-wrap h1 {
  text-align: center;
  color: var(--logocolor);
  margin-bottom: 30px;
}

#contact-content {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-radius: 10px;
  gap: 50px;
  width: 75%;
}

#contact-form-div,
#contact-info {
  width: 50%;
}

#contact-form-div {
  background-color: var(--cardbg);
  box-shadow: 0px 0px 20px lightgrey;
  padding: 40px;
  border-radius: 10px;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact-form input,
#contact-form textarea {
  border: none;
  background-color: #fbfcfd;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0px 0px 5px lightgrey;
}

#contact-form textarea {
  resize: none;
  height: 150px;
}

#contact-form button {
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--logocolor);
  color: var(--background);
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#contact-form label {
  margin-top: 10px;
}

.form-envelope {
  color: var(--logocolor);
  font-size: 26px;
}

#form-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-profil {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #f0ecff;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.contact-profil:hover {
  box-shadow: 0px 0px 5px lightgrey;
  transition: 0.2s ease-in-out;
  cursor: default;
}

.contact-profil span {
  font-size: 22px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  background-color: var(--logocolor);
  border-radius: 20px;
}

.contact-profil h3 {
  font-weight: 400;
}

.contact-profil p {
  font-weight: 300;
}

#contact-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-map iframe {
  width: 75%;
  height: 500px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 10px lightgrey;
  margin: 25px 50px 50px 50px;
}

#contact-map h1 {
  color: var(--logocolor);
}

/* katalog */

#katalog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

#katalog-container h1 {
  color: var(--logocolor);
}

.katalog-container-p {
  text-align: center;
  width: 75%;
  margin-top: 10px;
  font-weight: 300;
}

#katalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

.pozivnica-kartica {
  display: flex;
  flex-direction: column;
  background-color: var(--cardbg);
  border-radius: 12px;
  box-shadow: 0px 0px 10px lightgrey;
}

.pozivnica-kartica-slika {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.pozivnica-kartica-slika img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px lightgrey;
}

.kategorija-pozivnice {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.pozivnica-kartica button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--logocolor);
  color: var(--background);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.opis {
  font-size: 18px;
  font-weight: 300;
}

.opis-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.opis-div .fa,
.opis-div .fa-solid {
  color: var(--logocolor);
}

.opis-div .fa-fire-flame-curved {
  color: #ff6f61;
}

.opis-div .fa-star {
  color: gold;
}

.ml {
  margin-left: 10px;
}
