@font-face {
  font-family: "Lexend";
  src: url("fonts/Lexend-VariableFont_wght.ttf");
}

:root {
  --background: #fcf8ff;
  --headerbg: #fffeff;
  --third-section-bg: #62149b;
  --text: #4a5565;
  --textfont: Lexend, sans-serif;
  --logocolor: #6c63ff;
  --cardbg: #f7f5ff;
  --commentbg: #7c29b7;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: var(--textfont);
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: var(--textfont);
}

body {
  background-color: var(--background);
}

/* Header */

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--headerbg);
  box-shadow: 0px 0px 10px lightgrey;
}

#nav-logo {
  font-size: 34px;
  color: var(--logocolor);
}

#nav-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
}

.nav-li {
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  position: relative;
}

.nav-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--text);
  transition: width 0.25s ease-in-out;
}

.nav-li:hover::after {
  width: 100%;
}

.nav-li.active {
  color: var(--logocolor);
}

.nav-li.active::after {
  width: 100%;
  background-color: var(--logocolor);
}

/* Prva Sekcija - Home */

#first-section {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#first-section-left {
  width: 50%;
}

#first-section-logo {
  width: 200px;
  margin-bottom: 20px;
}

#first-section-h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--logocolor);
}

#first-section-p {
  font-size: 20px;
  margin-bottom: 30px;
}

#first-section-img {
  width: 40%;
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgb(186, 186, 186);
}

#first-section-button {
  border: 2px solid var(--logocolor);
  background-color: var(--logocolor);
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: var(--background);
}

#first-section-button:hover {
  background-color: var(--background);
  color: var(--logocolor);
}

#first-section-second-button {
  border: 2px solid var(--logocolor);
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--background);
  color: var(--logocolor);
}

#first-section-second-button:hover {
  background-color: var(--logocolor);
  color: var(--background);
}

/* druga sekcija */

#second-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--headerbg);
}

#second-section-h2 {
  text-align: center;
  font-size: 36px;
  color: var(--logocolor);
}

#second-section-p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
}

#second-section-cards {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.second-section-card {
  background-color: var(--cardbg);
  padding: 25px;
  float: left;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second-section-card:hover {
  box-shadow: 0px 5px 5px lightgrey;
  transition: 0.2s ease-in-out;
  cursor: default;
}

.second-section-card span {
  font-size: 42px;
  color: var(--logocolor);
}

.second-section-card h3 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
}

.second-section-card p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
}

/* treca sekcija */

#third-section {
  padding: 100px;
  background-color: var(--third-section-bg);
}

#third-section-h2 {
  text-align: center;
  font-size: 36px;
  color: var(--background);
}

#third-section-p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  color: var(--background);
}

#third-section-comments {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.third-section-comment {
  background-color: var(--commentbg);
  padding: 30px;
  border-radius: 5%;
  width: 300px;
}

.third-section-comment .fa-star {
  color: gold;
  font-size: 20px;
}

.comment {
  font-weight: 300;
  color: var(--background);
  margin-top: 10px;
}

.comment-author {
  margin-top: 15px;
  font-weight: 500;
  color: var(--background);
  font-size: 18px;
}

/* footer */

footer {
  padding: 50px;
  background-color: var(--commentbg);
}

#footer-up {
  display: flex;
  justify-content: space-around;
}

.footer-h2 {
  color: var(--background);
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 400;
}

.fa-instagram,
.fa-linkedin,
.fa-twitter {
  color: var(--background);
  font-size: 24px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--third-section-bg);
  padding: 10px;
  border-radius: 100px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer ul li a {
  color: var(--background);
  font-weight: 300;
  cursor: pointer;
}

footer ul li a:hover {
  text-decoration: underline;
}

#footer-contact p {
  color: var(--background);
  margin-bottom: 10px;
  font-weight: 300;
}

.fa-at,
.fa-phone,
.fa-map-marker {
  margin-right: 10px;
  color: var(--background);
  font-size: 18px;
}

#footer-down {
  margin-top: 30px;
  font-weight: 300;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  border-top: 1px solid var(--third-section-bg);
  padding-top: 20px;
}

#footer-down p {
  text-align: center;
  color: var(--background);
  font-size: 14px;
}

#footer-policies {
  display: flex;
  gap: 20px;
}

#footer-policies a {
  color: var(--background);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

#footer-policies a:hover {
  text-decoration: underline;
}
